.wrapper{
    background-color: #3c3e44;
    max-width: 100%;
    width: 200px;
    padding: 20px;
    margin: 50px 30px;
    color: #ffff;
    border-radius: 10px;
  

    .title{
        text-align: center;
        margin-bottom: 20px;

        h1{
            border-bottom: 1px solid #ffff;
            margin-bottom: 10px;
        }
        span{
            cursor: pointer;
            border-bottom:1px dashed #1d6ee7;
            font-size: 18px;
        }
    }
}

.filterBtn{
    h2{
        text-align: center;
    }
    li{
        border: 1px solid #1d6ee7;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;

        &.active{
            background-color: #1d6ee7;
        }
    }

    li:hover{
        background-color:#1d6ee7;
    }
}